@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunito-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h6 {
    font-family: 'Inter', sans-serif;
}
